<%= form_for @user, :url => { :controller => "users", :action => "create_candidate" } do |f| %>
<div class="field">
  <%= f.label :firstName %>
  <%= f.text_field :firstName %>
</div>
<div class="field">
  <%= f.label :lastName %>
  <%= f.text_field :lastName %>
</div>
<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>
<div class="actions"><%= f.submit %></div>
<%  end %>