<div><%= @message1 %></div>
<div><%= @message2 %></div>
<div><%= @message3 %></div>
<div class="userChoice">
  <span class="userSelect round">
    <span class="candidate"><%= link_to "I'm a candidate", candidate_path %></span>
  </span>
  <span>&nbsp;</span>
  <span class="userSelect round">
    <span class="company"><%= link_to "I'm a recruiter", company_path %></span>
  </span>
</div>
